<div layout="column" class="full-height">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1 flex>Managed Telegraf Inputs</h1>
            <div>
                <md-button class="md-primary md-raised" ng-click="add()">Add</md-button>
                <md-button ng-click="reload()">Reload</md-button>
            </div>
            <div class="tenant-info">
                <span>Tenant: {{configApi.currentTenant()}}</span>
                <md-button ui-sref="login">Switch</md-button>
            </div>
        </div>
    </md-toolbar>

    <md-content flex>
        <div ng-if="configs.length==0"><h5>None yet...click "Add" up there</h5></div>
        <md-card ng-repeat="c in configs track by c.id">
            <h5 class="md-title">{{c.title}} ({{c.id}})</h5>
            <table class="prop-table">
                <tr ng-if="c.region">
                    <th>Region:</th>
                    <td>{{c.region}}</td>
                </tr>
                <tr ng-if="c.assignmentTags">
                    <th>Tags:</th>
                    <td>
                        <table class="prop-table sub-prop-table">
                            <tr ng-repeat="(name,value) in c.assignmentTags">
                                <th>{{name}}:</th><td>{{value}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th>Running on:</th>
                    <td>
                        <div ng-repeat="tid in c.runningOn">{{tid}}</div>
                    </td>
                </tr>

            </table>
            <div md-whiteframe="3" class="multiline definition">{{c.text}}</div>

            <div>
                <md-button ng-click="remove(c)">Remove</md-button>
            </div>
        </md-card>
    </md-content>
</div>