<div layout="column" class="full-height">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1 flex>Managed Telegraf Inputs</h1>
            <div>
                <md-button class="md-primary md-raised" ng-click="add()">Add</md-button>
                <md-button ng-click="reload()">Reload</md-button>
            </div>
            <div class="tenant-info">
                <label>Tenant: {{configApi.currentTenant()}}</label>
                <md-button ng-click="switchTenant()">Switch</md-button>
            </div>
        </div>
    </md-toolbar>

    <md-content flex>
        <div ng-if="configs.length==0"><h5>None yet...click "Add" up there</h5></div>
        <md-card ng-repeat="c in configs track by c.id">
            <h5 class="md-title">{{c.title}} ({{c.id}})</h5>
            <table class="prop-table">
                <tr>
                    <th>Region:</th>
                    <td>{{c.region}}</td>
                </tr>
                <tr>
                    <th>Running on:</th>
                    <td>{{c.runningOn || '(none)'}}</td>
                </tr>

            </table>
            <div md-whiteframe="3" class="multiline definition">{{c.definition}}</div>

            <div>
                <md-button ng-click="remove(c)">Remove</md-button>
            </div>
        </md-card>
    </md-content>
</div>